* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul.nav {
  background-color: cadetblue;
  list-style-type: none;
  padding: 1rem;

  /*? Yazilari hizalamak icin */
  text-align: center;

  /*? Flex ozellgini aktif hale getirdik */
  display: flex;

  /*! Elemanların dizilis yonu : column, row, row-reverse, column-reverse*/
  flex-direction: row; /*? defaut: row*/

  /*? Satirlar arasi bosluk, ilk verilen satirlar arasi, 2. verilen sutunlar arasi bsoluktur */
  gap: 2rem 4rem;

  /*? sikistirma veya alt satira gecebilme:flex-wrap: wrap, nowrap, wrap-reverse*/
  flex-wrap: wrap;
}

ul.nav li {
  background-color: chocolate;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 5px;
}
